*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Garamond, serif;
    background-color: plum;
}

button{
    padding: 0.1rem 0.25rem;
    border: none;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(65, 48, 65);
}

.inputFields{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(159, 78, 159);
    text-align: center;
}

.inputFields h1{
    padding: 0.5rem;
}


#outptTasks{
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.taskHolder{
    display: flex;
    width: 50vw;
    margin: 0.25rem auto;
    align-items: center;
    justify-content: space-between;
}

.taskHolder .taskTitle {
    padding: 0 0.5rem;
    flex-grow: 1;
    background-color: white;
    border-radius: 2px;
}

.taskHolder .actionButtons{
    margin: 0 1rem;
}